<!-- <app-other-starter></app-other-starter> -->
<div class="cont">
  <div class="container">
    <div class="text-center">
      <span class="topic mt-5"><h3 class="h-sz-prm">About</h3></span>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-md-6 col-sm-6 mx-auto pt-4">
        <img src="/assets/images/about.png" alt="mypic" class="img-fluid">
      </div>
      <div class="col-md-6 col-sm-6 mx-auto pt-4">
        <h5 class="h-sz-prm">Welcome beautiful people!</h5>
        <i>My name is Snehashis Das A.K.A Mc Spraint.
          I'm a fullstack(MEAN) developer from malda.
          I finished my schoolling from The St. Xavier's School(Malda) and then took the admission in IMPS College Of Engineering & Technology
          to persue B.Tech in Computer Science and Engineering(CSE).
          In my 3rd year I started learning many programming languages and a couple of stacks,among which I'm specialized 
          in MEAN but I also learnt LAMP a little. I dreamt of being a software engineer my whole life.
          Now I make web applications, RESTful APIs (with Springboot,ExpressJs+MongoDB) ,android apps windows apps and much more.
          Moreover I've always had a great passion for music my whole life, So I spend my lessure time composing songs.
          I make musics that people can relate to
          and make quality web applications that people can find useful.
        </i>
        
      </div>
    </div>
  </div>
  </div>