<!-- <app-other-starter></app-other-starter> -->
<div class="cont">
  <div class="container">
    <div class="text-center">
      <span class="topic mt-5"><h3 class="h-sz-prm">About</h3></span>
    </div>

    <div class="row pt-5 pb-5" data-aos="zoom-in">
      <div class="col-md-6 col-sm-6 mx-auto pt-4 d-flex m-auto">
        <img src="/assets/images/about.png" alt="mypic" class="img-fluid">
      </div>
      <div class="col-md-6 col-sm-6 mx-auto pt-4">
        <div class="bla">
        <h5 class="h-sz-prm">Welcome beautiful people!</h5>
        <i>My name is Snehashis Das A.K.A Mc Spraint.
          I'm a fullstack(MEAN) Software Engineer from malda.
          I finished my schoolling from The St. Xavier's School(Malda) and then took an admission in IMPS College
          to persue B.Tech in CSE.
          I believe in transparency when you reach out to me for the betterment of your business.
          I want to walk you through a process where you find things simple and comprehensive.
          So here below I listed down all the varieties of services I provide, where you'll find
          the best suited solutions for your business to grow bigger at a very reasonable & affordable range.
          Specially technologies like <strong>MEAN and MEARN and LAMP Stack, Spring Boot(JAVA framework), IONIC</strong> etc, which are very popular in every industry
          for their cost effectiveness and highly optimised performances are what I work with very efficiently.
        </i><br>
      </div>

        <a (click)="toast()" href="/assets/mycv.pdf" download><button class="bttn-g-d">Download My Resume</button></a>
        
      </div>
    </div>
  </div>
  </div>