.cont{
    color: white;  
  }
  .img-fluid {
    max-width: 100%;
    height: auto
  }
  .bla{
    margin:1rem 0rem;
  @media (max-width: 1050px){
    font-size: 12px;
  }
  @media (max-width: 768px){
    font-size: 8px;
  }
  @media (max-width: 575px){
    font-size: 14px;
    }
  }