.card{
    color: white;
    background: linear-gradient(45deg,  rgb(31, 33, 124), rgb(8, 3, 49));
}
.bttn-g-p{
    margin-left: 0;
    margin-bottom:1rem;
}
#status{
    margin-right:0.5rem;
}