<div class="cont">
  <div class="container text-center">
    <div class="text-center">
      <span class="topic mt-5"><h3 class="h-sz-prm">Certificates</h3></span>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-sm-12 col-md-6 col-lg-6 pt-4 mx-auto" data-aos="zoom-out">
        <a href="https://www.mindluster.com/student/certificate/113853395"><img src="/assets/images/certml.png" alt="cert1" class="img-fluid"></a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pt-4 mx-auto hover" data-aos="zoom-out">
        <a href="/assets/images/masaiCert.png"><img src="/assets/images/masaiCert.png" alt="cert2" class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>
