<div class="cont">
  <div class="container">
    <div class="text-center">
      <span class="topic mt-5"><h3 class="h-sz-prm">Pojects</h3></span>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-sm-6 col-md-6 col-lg-6 pt-4 hover">
        <a href="/assets/images/portfolio.png">
        <img src="/assets/images/portfolio.png" alt="Portfolio" class="img-fluid">
        </a> 
        <b class="h-sz-prm">Portfolio(Angular+Ionic)</b>
        
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 pt-4 hover">
        <a href="/assets/images/restaurant.png"><img src="/assets/images/restaurant.png" alt="Restaurant" class="img-fluid"></a>
        <b class="h-sz-prm">Restaurant(LAMP Stack)</b>
        
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 pt-4 hover">
        <a href="/assets/images/ecom.png">
        <img src="/assets/images/ecom.png" alt="E-Commerce" class="img-fluid">
        </a>
        <b class="h-sz-prm">E-Commerce(MEAN Stack)</b>
        
      </div> 

      <div class="col-sm-6 col-md-6 col-lg-6 pt-4 hover">
        <a href="/assets/images/chatapp.png">
        <img src="/assets/images/chatapp.png" alt="Chat-App" class="img-fluid">
        </a>
        <b class="h-sz-prm">Chat-App(ExpressJs+Socket.io)</b>
        
      </div>
      
    </div>
  </div>
  </div>