
  <!--HOME PAGE STARTER STARTS-->
<div id="homeStarter">

  <div class="container-fluid">
    <div class="row intro anim">
      
      <div class="col-md-6 col-sm-6 col-lg-6 d-flex my-auto mb-5">
        <img [src]="pic" alt="" class="img-fluid">
      </div>

      <div class="col-md-6 col-sm-6 mb-2 col-lg-6 text-left">
        <div class="bla">
        <h1 class="h-sz-prm">Hi!</h1> 
        <h3>I'm Spraint.
          I'm a MEAN & MERN stack software developer with 3+ years experience working at Buzzworks currently in bangalore.</h3>
        <br/>  
        </div>    
        <a href="tel:+917602746149"><button class="bttn-g-s bttn-g-pill">Contact Me</button></a>
      </div>
      
    </div>
  </div>
</div>
<!--HOME PAGE STARTER ENDS-->

