//HOME PAGE STARTER STARTS
#homeStarter {
  text-align: center;
  
  color: #fff;
  background: url("/assets/images/bg-img.png") no-repeat center center/cover;
  background-attachment: scroll;
  padding: 15% 20%;
  min-height: 100vh;
  width: 100%;
  @media screen and (max-width: 700px) {
    padding: 30% 0;
  }
}
.intro {
  font-style: italic;
}
.img-fluid{
  
  max-width:100%;
  height: auto;
}
.anim {
  animation-name: animtn;
  animation-duration: 6s;
}
@keyframes animtn {
  from {
    opacity: 0;
    transform: rotateY(-120deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
//HOME PAGE STARTER ENDS
