
  <!--HOME PAGE STARTER STARTS-->
<div id="homeStarter">

  <div class="container">
    <div class="row intro anim">
      <div class="col-md-6 col-sm-6 mb-2 col-lg-6 text-left">
        <h1 class="h-sz-prm">Hi!</h1> 
        <h3>I'm Spraint.
          I'm a MEAN stack software developer and a Hip-Hop music artist.</h3>
        <q class="h-sz-prm">Music is the root of all creativity and making a good software is all that it takes</q>    
        <br/>      
        <button class="bttn-s">Contact Me</button>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-6">
        <img [src]="pic" alt="" class="img-fluid">
      </div>
      
    </div>
  </div>
</div>
<!--HOME PAGE STARTER ENDS-->

