<div class="cont" id="special"  style="color: white;">
    

  <div class="forAos">
    <div class="container mt-5 mx-auto">
        <div class="text-center">
            <span class="topic mt-5"><h3 class="h-sz-prm">Services</h3></span>
          </div>
      
        <div class="row pt-5 pb-5"  style="color:black;">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3 d-flex">
          <div class="card crd" data-aos="zoom-out-right">
            <div class="card-body p-3">
            <img src="https://img.icons8.com/ios-filled/60/50bfe6/web-design.png" alt="icon1.png"/>
              <h5 class="card-title">UX/UI and web designing</h5> <hr />
              <p class="card-text">
                UX/UI design plays a crucial role when winning over a potential client's attention at the first time. Hence I'm here to build you your dream application to make you stand out in the crowed. 
              </p>
              <a href="#" class="card-link">
                Read more...
              </a>
            </div>
          </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3 d-flex">
          <div class="card crd" data-aos="fade-up">
            <div class="card-body p-3">
            <img src="https://img.icons8.com/external-prettycons-lineal-prettycons/60/50bfe6/external-coding-education-prettycons-lineal-prettycons.png" alt="icon2.png"/>
              <h5 class="card-title">Modern web development</h5> <hr />
              <p class="card-text">
                With the hottest technologies in the market in 2022, like MEAN stack, MERN stack, Springboot, and much more I work with and can guarantee you any full-fledged web application(SPA) you want.
              </p>
              <a href="#" class="card-link">
                Read more...
              </a>
            </div>
          </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3 d-flex">
          <div class="card crd" data-aos="zoom-out-left">
            <div class="card-body p-3">
            <img src="https://img.icons8.com/ios/60/50bfe6/android-studio--v3.png"  alt="icon3.png"/>
              <h5 class="card-title">Android apps development</h5> <hr />
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero obcaecati facere accusantium repellendus in aliquam minima exercitationem eveniet, voluptatibus maxime nemo, non!
              </p>
              <a href="#" class="card-link">
                Read more...
              </a>
            </div>
          </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3 d-flex">
          <div class="card crd" data-aos="zoom-out-right">
            <div class="card-body p-3">
            <img src="https://img.icons8.com/ios/60/50bfe6/api-settings.png"  alt="icon4.png"/>
              <h5 class="card-title">RESTful APIs development</h5> <hr />
            <p class="card-text">
                  
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur reprehenderit deserunt recusandae voluptatem quia laudantium magnam facere nihil quis modi repellendus, quo eveniet?
            </p>
              <a href="#" class="card-link">
                Read more...
              </a>
            </div>
          </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3 d-flex">
          <div class="card crd" data-aos="fade-up">
            <div class="card-body p-3">
            <img src="https://img.icons8.com/ios/60/50bfe6/checkout.png"  alt="icon5.png"/>
              <h5 class="card-title">E-Com apps development</h5> <hr />
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus pariatur cum officiis atque perspiciatis aliquid enim molestias iure, quia reiciendis consequatur odio nesciunt, saepe corrupti.
              </p>
              <a href="#" class="card-link">
                Read more...
              </a>
            </div>
          </div>
          </div>

          <div class="col-6 col-xsm-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-3 d-flex">
          <div class="card crd" data-aos="zoom-out-left">
            <div class="card-body p-3">
            <img src="https://img.icons8.com/ios/60/50bfe6/windows10-personalization.png"  alt="icon6.png"/>
              <h5 class="card-title">Attractive graphic design</h5> <hr />
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio a hiul itaque cumque sint provident enim id iste sequi non? Rerum, ab hic. Voluptas, incidunt vel. Lorem ipsum dolor sit amet.
              </p>
              <a href="#" class="card-link">
                Read more...
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
