<div class="cont">
<div class="container">
  <div class="text-center">
    <span class="topic mt-5"><h3 class="h-sz-prm">Skills</h3></span>
  </div>
  <div class="row pt-5 pb-5">
    <div class="col-sm-4 pt-4">
      <h3 class="h-sz-prm">Languages</h3>
      
      
      <div class="skill"><b class="mr-1 prog-head">HTML<p>90%</p></b><progress value="0.9"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">CSS<p>85%</p></b><progress value="0.85"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">JavaScript<p>95%</p></b><progress value="0.95"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">JQuery<p>45%</p></b><progress value="0.45"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">TypeScript<p>86%</p></b><progress value="0.86"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Java<p>86%</p></b><progress value="0.86"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">PHP<p>55%</p></b><progress value="0.55"></progress></div>

      
    </div>
    <div class="col-sm-4 pt-4">
      <h3 class="h-sz-prm">Frameworks</h3>
      <div class="skill"><b class="mr-1 prog-head">Angular<p>90%</p></b><progress value="0.9"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Ionic<p>80%</p></b><progress value="0.8"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Capasitor<p>75%</p></b><progress value="0.75"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">ExpressJs<p>98%</p></b><progress value="0.98"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">NodeJs<p>80%</p></b><progress value="0.8"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">NestJs<p>40%</p></b><progress value="0.40"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">SpringBoot<p>65%</p></b><progress value="0.65"></progress></div>

    </div>
    <div class="col-sm-4 pt-4">
      <h3 class="h-sz-prm">Others</h3>
      <div class="skill"><b class="mr-1 prog-head">MongoDB(Database)<p>75%</p></b><progress value="0.75"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">MySQL(Database)<p>35%</p></b><progress value="0.35"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Git & Github<p>40%</p></b><progress value="0.40"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Bootstrap(Styling)<p>75%</p></b><progress value="0.75"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Angular-materials(Styling)<p>20%</p></b><progress value="0.20"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Sass<p>50%</p></b><progress value="0.50"></progress></div>
      <div class="skill"><b class="mr-1 prog-head">Linux<p>40%</p></b><progress value="0.40"></progress></div>
      

    </div>
    
  </div>
</div>
</div>