.cont{
    color: white;
    
  }
  .skill{
    width:90%;
    cursor: pointer;
    &:hover{
      width:100%;
      color: red;
    }
    
  }
  
  .prog-head{
    display: flex; 
    justify-content: space-between;
    
  }
  progress{
    position: relative;
    width:100%;
    cursor: pointer;
    
  }
