<!-- style={{color:this.props.mode==="dark"? "white":"black"}}
style={{color:this.props.mode==="dark"? "white":"black"}}-->
<div id="Testimonials" class="cont">
    <div class="text-center">
        <span class="topic mt-5 mb-5"><h3 class="h-sz-prm">Testimonials</h3></span>
      </div>
<div class="testimonials">
<section class="view" id="view" data-aos="zoom-in">
<section>
    <img src="/assets/images/testimonials/a.png" alt=""/>
    <h2>John Smith</h2>
    <q>Hello world from testimonials. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a esse iure perferendis nam dolore. Amet, tempora voluptas quibusdam nam nihil porro nostrum illo cum, earum vitae reprehenderit dolor officia.</q>
</section>
<section>
    <img src="/assets/images/testimonials/b.png" alt=""/>
    <h2>Avik Tripathi</h2>
    <q>Really a great experience working with him! He always looks for perfection in his work and tries his best to deliver more than what is expected. The most important thing to always mention is that he's so cooperative and friendly.</q>
</section>
<section>
    <img src="/assets/images/testimonials/c.png" alt=""/>
    <h2>David Daniel</h2>
    <q>Hello world from testimonials. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a esse iure perferendis nam dolore. Amet, tempora voluptas quibusdam nam nihil porro nostrum illo cum, earum vitae reprehenderit dolor officia.</q>
</section>
</section>
<section class="controlls">
    <span id="controll1"></span>
    <span id="controll2" class="active"></span>
    <span id="controll3"></span>
</section>
</div>

</div>
