
<div class="cont">
    <div class="container">
<div class="crd">
    <h5><strong>Success!!!</strong></h5>
    <p><strong>Congratulations..!!</strong> Your email has been verified successfully and safely saved into our
        database!!
        Now you can login to your account anytime and anywhere you want by using the details you just have
        provided.. </p>
    <hr>
    <p class="mb-0">Remember one thing, everytime you login we provide you with a token that gets saved to your
        local memory to give you that persistent login experience unless you delete it manually. </p>
</div>
<button type="button" class="bttn-g-s btn-lg btn-block mt-0" (click)="clickHandler()"><i>Click Here To
        Continue</i></button>
    </div>
</div>